
.product{
    margin: auto;
    margin-top: 50px;
    width: 25%;
    border: 2px;
    border-style: groove;
    }

.product-img{
    border-bottom: 2px;    
    border-style: groove;
}

.product-btns{
    margin: 10px;
}

.add-to-cart{    
    margin: 10px;
    margin-top: 0;
}